.cta {
    padding: 26px 0 53px;
    color: #fff;
    background-color: #222222;

    position: relative;
    top: -1px;

    @include tablet {
        padding: 54px 0 91px;
    }
}

.cta__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include tablet {
        gap: 90px;
    }
}

.cta__accordion-wrapper {}