.marquee {
    padding: 53px 0 50px;
    color: #fff;
    background-color: #222222;

    position: relative;
    z-index: 0;
    overflow: hidden;
}

.marquee--rl-1 {
    width: 110%;
    transform: rotate(2deg);
    position: relative;
    left: -20px;
    z-index: 2;
}

.marquee--rl-2 {
    opacity: 0.5;
    position: relative;
    z-index: 1;
}

.marquee--desktop-only {
    display: none;

    @include tablet {
        display: flex;
    }
}